img{
    max-width: 50px;
    max-height: 80px;
}



.filterOption{
    float: right;
}

.sortBorder{
    margin-right: 10px;
    text-align: center;
    display: inline-block;
}

.sortBorder input{
    max-width: 80px;
    max-height: 25px;
    margin-left: 10px;
    float: right;
}

.sortBorder label {
    width: 30px;
    /* padding: 10px 0px 0px 0px; */
}​


thead{
    cursor: pointer;
    background-color: coral;
}

.table-sortable .th-sort-asc::after {
    content: "\25b4";
  }
  
  .table-sortable .th-sort-desc::after {
    content: "\25be";
  }

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-dec::after {
    margin-left: 5px;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
  background: rgba(0, 0, 0, 0.1);
}